#state input, #state label.value
{
   text-align:right;
   width:60px;
   margin: 0px 20px 0px 20px;
}

#state label
{
  width:40px;
  display:inline-block;
  margin: 0px 10px 0px 0px;
}

#state label.narrow
{
  width:10px;
  margin:0px;
}

#state label.wide
{
  width:80px;
  margin: 0px 10px 0px 20px;
}
