#state {
    width: 95%;
    margin: auto;
}

#state.working
{
    background-color:#aaa;
}

#state input, #state label
{
    text-align: right;
    display: inline-block;
    width: 24%;
    background-color: #eee;
    margin: 5px auto;
    border:0;
    font-size: 24px;
}

#state input:not([readOnly])
{
    background-color: #ddd;
    /* border:black; */
}

#state #mode
{
    background-color: #ddd;
    float: right;
}

#history svg {
    height: 1%;
    margin: 10px 0;
}

#history svg {
    stroke-width: 0.002;
    stroke: black;
    fill: none;
}

path[name=temperature] {
    stroke: red;
}

#recent path[name=temperature] {
    stroke-width: 0.005;
    stroke: red;
}

#recent path[name=target] {
    stroke: green;
    stroke-width: 0.005;
}

#recent path[name=setting] {
    stroke-width: 0.0075;
    opacity: 0.5;;
}

#recent path[name=error] {
    stroke-width: 0.0075;
    stroke: red;
    opacity: 0.5;
}

.axis .tick line {
    stroke: #555;
    opacity: 0.25;
}

.yAxis .tick line {
    opacity: 0.45;
}

.axis .tick text {
    font-size: 8px;
    fill: black;
}

rect.border {
    fill: none;
    stroke-width: 0.001;
    stroke: #555d;
}

.hidden
{
    display: none;
}
