#state {
    width: 95%;
    margin: auto;
}

#state.working
{
    background-color:#aaa;
}

#state input, #state label
{
    text-align: right;
    display: inline-block;
    width: 24%;
    background-color: #eee;
    margin: 5px auto;
    border:0;
    font-size: 24px;
}

#state input:not([readOnly])
{
    background-color: #ddd;
    /* border:black; */
}

.hidden
{
    display: none;
}
